#spring:
#  profiles:
#    active: dev

spring:
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://10.0.0.100:3306/blog?useUnicode=true&useUnicode=true&characterEncoding=utf-8&useSSL=false&serverTimezone=UTC&allowPublicKeyRetrieval=true
    username: root
    password: 123456
    type: com.alibaba.druid.pool.DruidDataSource
    
mybatis:
  typeAliasesPackage: com.mirkmoon.pojo
  mapperLocations: classpath:mappers/*.xml

redis:
  host: localhost
  port: 6379
  # 连接超时时间（记得添加单位，Duration）
  timeout: 10000ms
  # Redis默认情况下有16个分片，这里配置具体使用的分片
  # database: 0
  lettuce:
    pool:
      # 连接池最大连接数（使用负值表示没有限制） 默认 8
      max-active: 8
      # 连接池最大阻塞等待时间（使用负值表示没有限制） 默认 -1
      max-wait: -1ms
      # 连接池中的最大空闲连接 默认 8
      max-idle: 8
      # 连接池中的最小空闲连接 默认 0
      min-idle: 0


jwt:
  config:
    key: I-LIKE-CODING
    ttl: 600000
    remember: 604800000
logging:
  level:
    com.xkcoding.rbac.security: debug
custom:
  config:
    ignores:
      # 需要过滤的 post 请求
      post:
        - "/login"
        - "/logout"
      # 需要过滤的请求，不限方法
      pattern:
        - "/test/*"


